USE [master]
GO
/****** Object:  Database [QLTuiSach]    Script Date: 11/13/2019 10:30:51 AM ******/
CREATE DATABASE [QLTuiSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTuiSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\QLTuiSach.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTuiSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL2012\MSSQL\DATA\QLTuiSach_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTuiSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTuiSach]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 11/13/2019 10:30:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDBAN] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[NGAYBAN] [datetime] NULL,
	[MAKH] [char](10) NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/13/2019 10:30:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/13/2019 10:30:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/13/2019 10:30:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](10) NOT NULL,
	[TENTUI] [nvarchar](50) NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[SOLUONG] [int] NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[HINH] [nvarchar](50) NULL,
	[TENCHATLIEU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [GIOITINH], [NGAYSINH], [TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT]) VALUES (N'KH01      ', N'ASDASDAS', N'NAM', CAST(0x0000A3E9001A4A22 AS DateTime), NULL, NULL, NULL, N'174 LÊ TRỌNG TẤN', N'ASODO;QJKWODNQ@GMAIL.COM')
INSERT [dbo].[KHACHHANG] ([MAKH], [TEN], [GIOITINH], [NGAYSINH], [TAIKHOAN], [MATKHAU], [EMAIL], [DIACHI], [SDT]) VALUES (N'KH02      ', N'ASDASDAS', N'NAM', CAST(0x0000A3E9001A4A22 AS DateTime), NULL, NULL, NULL, N'174 LÊ TRỌNG TẤN', N'ASODO;QJKWODNQ@GMAIL.COM')
INSERT [dbo].[SANPHAM] ([MASP], [TENTUI], [GIABAN], [SOLUONG], [MAUSAC], [HINH], [TENCHATLIEU]) VALUES (N'SP01      ', N'Túi Nữ Gucci 1', CAST(85000 AS Decimal(18, 0)), 1, N'ĐỎ', N'1gucci.jpg', N'Da cứng')
INSERT [dbo].[SANPHAM] ([MASP], [TENTUI], [GIABAN], [SOLUONG], [MAUSAC], [HINH], [TENCHATLIEU]) VALUES (N'SP02      ', N'Túi Nữ Gucci 2', CAST(90000 AS Decimal(18, 0)), 2, N'Đen', N'2gucci.jpg', N'Da cứng')
INSERT [dbo].[SANPHAM] ([MASP], [TENTUI], [GIABAN], [SOLUONG], [MAUSAC], [HINH], [TENCHATLIEU]) VALUES (N'SP03      ', N'Túi Nữ Gucci 3', CAST(86000 AS Decimal(18, 0)), 1, N'Tím', N'3gucci.jpg', N'Da cứng')
USE [master]
GO
